body {
  margin: 0;
  padding: 0;
  background-image: url('https://files.u-angers.fr/data/f-abb59789a3d07573a24053df.jpg');
  background-size: 100% 100%;
  background-repeat: repeat;
}

html {
  height: 100%;
  width: 100%;
}

.divCentree {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.texteCentre {
  text-align: center;
}

.rectangle {
  position: absolute;
  top: 220px;
  /* Ce sera le point de départ du haut du rectangle, et il s'étendra vers le bas à partir de là */
  left: 50%;
  /* Centre le rectangle horizontalement */
  transform: translateX(-50%);
  /* Ajuste seulement horizontalement */
  width: 1100px;
  /* Largeur fixe */
  min-height: 300px;
  /* Hauteur minimale, permet au rectangle de s'agrandir */
  background-color: #ffffff;
  /* Couleur de fond */
  border-radius: 10px;
  /* Bords arrondis */
  z-index: 1;
  /* S'assure qu'il est au-dessus des autres éléments */
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  /* Effet d'ombre */
  overflow: auto;
  /* Active le défilement si nécessaire */
  padding: 20px;
  /* Espace autour du contenu */
  box-sizing: border-box;
  /* La bordure et le padding sont inclus dans la largeur et la hauteur totales */
  display: flex;
  /* Utiliser Flexbox pour centrer les essais */
  justify-content: center;
  /* Centrer les éléments horizontalement */
}

/* Pour le Wild Guess */
@keyframes animate8345 {

  0%,
  100% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}

/* Pour le Wild Guess */
.loader {
  color: rgb(0, 0, 0);
  background: linear-gradient(to right, #0044ff, #3ccfda);
  font-size: 30px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate8345 9s linear infinite;
  font-weight: bold;
  font-family: Oswald, sans-serif;
  text-align: center;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #7d7d7d;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  width: 230px;
}

input[type="text"]:focus {
  border-color: #949494;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

/*couleur case*/
/* .essai {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.essai-info {
  font-weight: bold;
  margin-bottom: 10px;
} */

/* Conteneur des caractéristiques */
.caracteristiques {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  padding-left: 10px;
}

/* Style des cases de caractéristiques */
.caracteristiques div {
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  min-width: 150px;
}

.caracteristiques td {
  padding: 10px 20px;
  min-width: 180px;
  text-align: center;
  border-radius: 8px;
}

.vrai {
  background-color: #7affb4;
  height: 60px;
  text-align: center;
  min-width: 110px;
}

.faux {
  background-color: #fe7f76;
  height: 60px;
  text-align: center;
  min-width: 110px;
}

/* Structure de l'essai */
.essai {
  display: flex;
  align-items: center;
  /* Centre les éléments verticalement */
  margin-bottom: 20px;
  /* Espace entre les essais */
}

/* Informations de l'animal et image */
.essai-info {
  font-weight: bold;
  margin-right: 20px;
  /* Espace après le nom de l'animal */
}

/* Image de l'animal */
.essai img {
  width: 100px;
  /* Définis la largeur de l'image */
  height: 100px;
  /* Définis la hauteur de l'image */
  object-fit: cover;
  /* S'assure que l'image couvre la zone sans être déformée */
  margin-right: 20px;
  /* Espace après l'image */
}